<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1_FUNCTIONAL TESTING" verbose="1" >
    <test name="DO AN THUC TAP" >

        <groups>
            <run>
                <include name="Cart"/>
            </run>
        </groups>

        <classes>
           <class name="EShopper."></class>
        </classes>
    </test>
</suite>